# CSV File For Prophet:
### Temperature Population Sea Level and Emissions
### Notebook To Combine CSV Datasets

In [1]:
# Necessary Imports
import pandas as pd
import numpy as np

In [2]:
# File to Load  
temperature_data = "../Data/temp_data.csv"
population_data = "../Data/population_data.csv"
sealevel_data = "../Data/sealevel_data.csv"
co2_data = "../Data/co2_ppm.csv"
datestamp_data = "../Data/datestamp.csv"

# Read Data  
temperature_data_df = pd.read_csv(temperature_data)
population_data_df = pd.read_csv(population_data)
sealevel_data_df = pd.read_csv(sealevel_data)
co2_data_df = pd.read_csv(co2_data)
datestamp_data_df = pd.read_csv(datestamp_data)

In [3]:
# Merage Files
first_merged_table = pd.merge(temperature_data_df, population_data_df, on = "Year", how = "left")
second_merged_table = pd.merge(first_merged_table, sealevel_data_df, on = "Year", how = "left")
climate_merged_df = pd.merge(second_merged_table, co2_data_df, on = "Year", how = "left")
climate_merged_df = climate_merged_df.drop(["Unnamed: 0"], axis = 1)
climate_merged_df["DS"] = datestamp_data_df
climate_merged_df

,Year,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,population_millions,GMSL,CO2_concentration_per_million,DS
0,1993,15.466417,0.059167,5581597.598,90.471622,869.636645,1993-01-01
1,1994,15.535000,0.058583,5663150.428,89.516216,863.100924,1994-01-01
2,1995,15.637833,0.060417,5744212.930,87.334722,858.225479,1995-01-01
3,1996,15.524667,0.059500,5824891.931,85.473243,859.062572,1996-01-01
4,1997,15.713833,0.059167,5905045.647,99.442432,867.379574,1997-01-01
5,1998,15.826000,0.063000,5984794.075,96.977297,866.162913,1998-01-01
6,1999,15.600333,0.063333,6064239.033,87.769459,854.147358,1999-01-01
7,2000,15.610667,0.063500,6143493.806,86.657297,878.764146,2000-01-01
8,2001,15.767500,0.064583,6222626.531,84.688378,888.096012,2001-01-01
9,2002,15.829167,0.062917,6301773.172,85.895278,884.272209,2002-01-01
10,2003,15.826583,0.064333,6381185.141,87.178919,907.525692,2003-01-01
11,2004,15.757250,0.061250,6461159.391,86.263784,915.658632,2004-01-01
12,2005,15.879250,0.060833,6541906.956,85.427838,921.000446,2005-01-01
13,2006,15.813500,0.061000,6623517.917,86.161389,933.068635,2006-01-01
14,2007,15.827333,0.059083,6705946.643,85.265946,944.312222,2007-01-01
15,2008,15.721250,0.057250,6789088.672,86.838889,943.559582,2008-01-01
16,2009,15.827167,0.058917,6872766.988,85.634054,898.608885,2009-01-01
17,2010,15.895500,0.058583,6956823.588,87.830811,916.898995,2010-01-01
18,2011,15.769500,0.059000,7041194.168,89.016757,907.572218,2011-01-01
19,2012,15.802333,0.061500,7125827.957,87.514324,907.679408,2012-01-01
20,2013,15.854417,0.064667,7210582.041,87.777297,893.012832,2013-01-01
21,2014,15.913000,0.063167,7295290.759,88.426667,890.230156,2014-01-01
22,2015,16.058583,0.060833,7379796.967,100.599189,901.399532,2015-01-01

In [4]:
# Save Combined Dataset To CSV
climate_merged_df.to_csv("../Data/combinedclimatedata_prophet.csv")